<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body
    data-controller="keyboard-navigation"
    data-action="keyup->keyboard-navigation#navigate"
  >
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="container">
      <%= yield %>
    </div>

    <%# <%= render 'shared/footer' %>
  </body>
</html>
